<template name="home">
  <div class="l-fixed">
      <!-- side menu -->
      <div id="l-sidenav">
          <!-- title bar -->
          <div class="panel heading">
              <div class="l-valign">
                  <!-- title bar text -->
                  <b class="panel-title-text">Some Heading</b>

                  <!-- cutout left -->
                  <span class="arrow left pull-right"></span>
              </div>
          </div>

          <!-- some panel heading -->
          <div id="1" class="panel heading-list selected">
              <div class="l-valign">
                  <!-- some panel title text -->
                  <b class="panel-title-text">Some Title</b>

                  <!-- arrow icon -->
                  <span class="icon-chevron-up panel-chevron"></span>
              </div>
          </div>

          <!-- some panel body -->
          <div class="panel body is-open">
              <!-- some content -->
          </div>

          <!-- another panel heading -->
          <div id="2" class="panel heading-list">
              <div class="l-valign">
                  <!-- another panel title text -->
                  <b class="panel-title-text">Some Title</b>

                  <!-- arrow icon -->
                  <span class="icon-chevron-down panel-chevron"></span>
              </div>
          </div>

          <!-- another panel body -->
          <div class="panel body">
              <!-- another content -->
          </div>
      </div>
  </div>
</template>