/* utils */
fixed-mq(size-1, size-2, size-3)
  @media (max-width: 1020px) /* xl */
    width size-1
  @media (max-width: 840px) /* l */
    width size-2
  @media (max-width: 770px) /* m */
    width size-3

.pull-left
  float left !important

.pull-right
  float right !important

.no-margin
  margin 0px !important

.no-padding
  padding 0px !important
